.app {
    background-color: #191919;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #252525;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.btn {
    background: linear-gradient(135deg, #007bff, #0056b3);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
    width: 120px;
    text-align: center;
}

.btn:hover {
    background: linear-gradient(135deg, #0056b3, #003b80);
    transform: scale(1.05);
}

.export-btn {
    background: linear-gradient(135deg, #28a745, #1e7d32);
}

.export-btn:hover {
    background: linear-gradient(135deg, #1e7d32, #145a24);
}

.input-field {
    width: 120px;
    padding: 8px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #333;
    color: white;
    text-align: center;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
    justify-content: end;
    align-items: end;

}

.input-field:focus {
    border-color: #007bff;
    outline: none;
    transform: scale(1.05);
}

.color-picker {
    padding: 5px;
    width: 50px;
    height: 40px;
    border: none;
    background: transparent;
    cursor: pointer;
}
.control-group{
    color: aliceblue;
    text-align: start;
    text-shadow: thistle;
    font-size: medium;
    align-items: end;
    display: flex;
    padding-right: 10px;
}